<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="#" class="navbar-brand">PESA</a></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a rel="start" href="<%=sitePrefix%>/survey_run/surveyRunId/start">Start / Début</a></li>
                <li><a rel="section1" href="<%=sitePrefix%>/survey_run/surveyRunId/section1">Section 1</a></li>
                <li><a rel="section2" href="<%=sitePrefix%>/survey_run/surveyRunId/section2">Section 2</a></li>
                <li><a rel="section3" href="<%=sitePrefix%>/survey_run/surveyRunId/section3">Section 3</a></li>
                <li><a rel="section4" href="<%=sitePrefix%>/survey_run/surveyRunId/section4">Section 4</a></li>
                <li><a rel="section5" href="<%=sitePrefix%>/survey_run/surveyRunId/section5">Section 5</a></li>
                <li><a rel="section6" href="<%=sitePrefix%>/survey_run/surveyRunId/section6">Section 6</a></li>
                <li><a rel="section6" href="<%=sitePrefix%>/survey_run/surveyRunId/Feedback">Feedback/Retour d'information</a></li>
           </ul>
        </div>
        </div>
        </div>
        </div>
    </div>
</div>
