<% include ../partials/admin_head.ejs%>
<div class="col-lg-4"><p>You are logged in as: <%=patients[1][0].email_address%></p></div>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-1">

            <ul class="nav nav-tabs">
                <li id="home_tab" class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <%if (profile[1][0].role === 'admin') { %>
                <li id="admin_tab"><a data-toggle="tab" href="#admin">Admin</a></li>
                <% } %>
                <li id="recipient_tab"><a data-toggle="tab" href="#manage_recipient">Manage Recipients</a></li>
                <li id="sendSurvey_tab"><a data-toggle="tab" href="#sendSurvey">Send Survey</a></li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-1">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>Profile</h3>
                    <br>
                    <form action="<%=sitePrefix%>/patients" enctype="application/x-www-form-urlencoded">
                        First Name: <%=profile[1][0].firstname%><br>
                        Last Name: <%=profile[1][0].lastname%><br>
                        Role: <%=profile[1][0].role%><br>
                        Email Address: <%=profile[1][0].email_address%><br>
                    </form>
                </div>
                <div id="admin" class="tab-pane fade">
                    <h3>Admin Interface</h3>
                    <br>
                </div>

                <div id="manage_recipient" class="tab-pane fade">
                    <%if (email_verified === 'Y') { %>
                    <h3>My recipients</h3>
                    <ul class="nav nav-tabs">
                        <li id="new_tab" class="active"><a data-toggle="tab" href="#new_recipient">New</a></li>
                        <li id="view_tab"><a data-toggle="tab" href="#view_recipients">View</a></li>
                    </ul>
                    <div id="new_recipient" class="tab-pane fade in active">
                    <form id='changeURL' class="new-patient" action="<%=sitePrefix%>/patients/" method="post" enctype="application/x-www-form-urlencoded">
                        <div>
                            <h2>Add Recipient</h2>
                            <label>First Name:</label>
                            <input type="text" id="patientFirstName" name="patientFirstName" value="" required="required" /><br>
                            <label>Last Name:</label>
                            <input type="text" id="patientLastName" name="patientLastName" value="" required="required" /><br>

                            <label>Email address:</label>
                            <input type="email" id="patientEmailAddress" name="patientEmailAddress" value="" required="required" /><br>
                            <input type="submit" value="add_recipient" id="logout">
                        </div>
                    </form>


                </div>
                    <div id="view_recipients" class="tab-pane fade">
                        <h1>Under Construction</h1>
                    </div>
                    <% } else { %>
                    <div class="not_verified">
                        <h1>You must verify your email address to use this functionality</h1>
                    </div>
                    <% } %>
                </div>


                <div id="sendSurvey" class="tab-pane fade">
                    <%if (email_verified === 'Y') { %>
                    <h3>Send Survey</h3>
                    <div class="verified_email">
                        <form class="select-recipients" action="<%=sitePrefix%>/recipients"  method="post" enctype="application/x-www-form-urlencoded">
                            <% for (var i = 0; i < patients[0].length; i++) {%>
                            <div>
                                <input type="checkbox" id="<%=patients[0][i].id%>;<%=patients[0][i].patientFirstName%>;<%=patients[0][i].patientLastName%>;<%=patients[0][i].patientEmailAddress%>" name="<%=patients[0][i].id%>;<%=patients[0][i].patientFirstName%>;<%=patients[0][i].patientEmailAddress%>" />
                                <label for="<%=patients[0][i].id%>;<%=patients[0][i].patientFirstName%>;<%=patients[0][i].patientFirstName%>;<%=patients[0][i].patientEmailAddress%>">
                                    <%=patients[0][i].patientFirstName%> <%=patients[0][i].patientLastName%>(email address: <%=patients[0][i].patientEmailAddress%>)
                                </label>
                            </div>
                            <% } %>
                            <label>Send survey request:</label>
                            <input id="sendSurvey" type="submit" value="Send" />
                        </form>
                    </div>
                    <% } else { %>
                    <div class="not_verified">
                        <h1>You must verify your email address to use this functionality</h1>
                    </div>
                    <% } %>
                    <% if (message) { %>
                    <p class="info_msg">
                        <%=message%>
                    </p>
                    <% } %>
                </div>

            </div>
        </div>
    </div>
    <div class="row">





    </div>

</div>

<% include ../partials/footer.ejs%>
<script src="/student-sites<%=sitePrefix%>/js/main_interface.js"></script>




