<% include ../partials/admin_head.ejs%>
<div class="col-lg-4"><p>You are logged in as: <%=profile[1][0].email_address%></p></div>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-1">

            <ul id="main_tabs" class="nav nav-tabs">
                <li id="home_tab" class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <%if (profile[1][0].role === 'admin') { %>
                <li id="admin_tab"><a data-toggle="tab" href="#admin">Admin</a></li>
                <% } %>
                <li id="recipient_tab"><a data-toggle="tab" href="#manage_recipient">Manage Recipients</a></li>
                <li id="sendSurvey_tab"><a data-toggle="tab" href="#sendSurvey">Send Survey</a></li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-1">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h2>Status</h2>
                    <% if (message) { %>
                    <h3><%=message%></h3><br />
                    <% } %>
                    <%if (email_verified === 'N') { %>
                    <h2>Your account is not verified. Follow the instructions sent to your email address.</h2>
                    <form action="<%=sitePrefix%>/mail_sent/"  method="post" enctype="application/x-www-form-urlencoded" id="changeUrlResend">
                        <input type="submit" value="Re-send Email" >
                    </form>
                    <br>
                    <% } %>
                    <h1>Profile</h1>
                    <div id="profile_info">
                        <img src="/student-sites/team3/img/user_picture.jpg" style="float: left">
                        <h3>First Name: <%=profile[1][0].firstname%></h3>
                        <h3>Last Name: <%=profile[1][0].lastname%></h3>
                        <h3>Email: <%=profile[1][0].email_address%></h3>
                        <h3>Role: <%=profile[1][0].role%></h3>
                    </div>
                </div>

                <div id="admin" class="tab-pane fade">
                    <h1>Admin Interface</h1>
                    <div>
                        <h3>Users</h3>
                        <form action="<%=sitePrefix%>/deleteusers"  method="post" enctype="application/x-www-form-urlencoded">
                            <table>
                                <tr>
                                    <th width="5%">Select</th>
                                    <th width="30%">Name</th>
                                    <th>Email Address</th>
                                    <th width="10%">Verified?</th>
                                </tr>
                                <% for (var j = 0; j < regularUsers.length; j++) {%>
                                <div>
                                    <tr>
                                        <td class="center"> <input type="checkbox" id="<%=regularUsers[j].registrationId%>" name="<%=regularUsers[j].registrationId%>"></td>
                                        <td><%=regularUsers[j].firstname%> <%=regularUsers[j].lastname%></td>
                                        <td> <%=regularUsers[j].email_address%></td>
                                        <td class="center"><%=regularUsers[j].email_verified%></td>
                                    </tr>
                                </div>
                                <% } %>
                            </table>
                            <br>
                            <input type="submit" id="deleteUser" value="Delete User">
                        </form>
                    </div>
                    <div>
                        <h3>Edit Mailer Information</h3>
                        <p>Edit the mailer email credentials used to send email verifications and surveys from</p>
                        <form action="<%=sitePrefix%>/admin_edit_mailer">
                            <input type="submit" value="Edit Mailer">
                        </form>
                    </div>
                </div>


                <div id="manage_recipient" class="tab-pane fade">
                    <%if (email_verified === 'Y') { %>
                    <h1>My recipients</h1>
                    <h3>Add new recipients or view your list of recipients</h3>
                    <ul class="nav nav-tabs">
                        <li id="new_tab" class="active"><a data-toggle="tab" href="#new_recipient">New</a></li>
                        <li id="view_tab"><a data-toggle="tab" href="#view_recipients">View / Edit</a></li>
                    </ul>
                    <div id="new_recipient" class="tab-pane fade in active">
                        <form class="new-patient" action="<%=sitePrefix%>/patients/" method="post" enctype="application/x-www-form-urlencoded">
                            <div>
                                <h2>Add Recipient</h2>
                                <label>First Name:</label>
                                <input type="text" id="patientFirstName" name="patientFirstName" value="" required="required" /><br>
                                <label>Last Name:</label>
                                <input type="text" id="patientLastName" name="patientLastName" value="" required="required" /><br>
                                <label>Email address:</label>
                                <input type="email" id="patientEmailAddress" name="patientEmailAddress" value="" required="required" /><br>
                                <input type="submit" value="Add Recipient">
                            </div>
                        </form>
                    </div>
                    <div id="view_recipients" class="tab-pane fade">
                        <h1>Under Construction</h1>
                    </div>
                    <% } else { %>
                    <div class="not_verified">
                        <h1>You must verify your email address to use this functionality</h1>

                    </div>
                    <% } %>
                </div>

                <div id="sendSurvey" class="tab-pane fade">
                    <%if (email_verified === 'Y') { %>
                    <h1>Send Survey</h1>
                    <div class="verified_email">
                        <%if (recipients[0].length !== 0) { %>
                        <h3>Please select a recipient(s) to receive the Patient Experience survey</h3>
                        <form class="select-recipients" action="<%=sitePrefix%>/recipients"  method="post" enctype="application/x-www-form-urlencoded">
                            <table>
                                <tr>
                                    <th width="1%">Select</th>
                                    <th width="30%">Name</th>
                                    <th>Email Address</th>
                                </tr>
                                <% for (var i = 0; i < recipients[0].length; i++) {%>
                                <div>
                                    <tr>
                                        <td class="center"> <input type="checkbox" id="<%=recipients[0][i].id%>"></td>
                                        <td><%=recipients[0][i].first_name%> <%=recipients[0][i].last_name%></td>
                                        <td> <%=recipients[0][i].email_address%></td>
                                    </tr>
                                </div>
                                <% } %>
                            </table>
                            <input id="sendSurvey" type="submit" value="Send" />
                            <br>
                        </form>
                        <% } else { %>
                        <h2>No Recipients Found!</h2>
                        <% } %>
                    </div>
                    <% } else { %>
                    <div class="not_verified">
                        <h1>You must verify your email address to use this functionality</h1>
                    </div>
                    <% } %>
                </div>

            </div>
        </div>
    </div>
    <div class="row">





    </div>

</div>

<% include ../partials/footer.ejs%>
<script src="/student-sites<%=sitePrefix%>/js/main_interface.js"></script>




